*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

span{
    font-size: 1rem;
    color: rgba(255, 0, 0, 0.527);
}

.box{
    border: 5px solid rgba(0, 183, 255, 0.87);
    color: red;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 3px 10px #333;
}